WBSupportCenter/WBSupportCenter/Web References/WSsupport1/WSSupportCenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSOptenerArt">
        <s:complexType />
      </s:element>
      <s:element name="WSOptenerArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOptenerArtResult" type="tns:ArrayOfArticulos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArticulos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Articulos" nillable="true" type="tns:Articulos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Articulos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idarticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idEstatusArticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaCreacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSOptenerCatg">
        <s:complexType />
      </s:element>
      <s:element name="WSOptenerCatgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOptenerCatgResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategoriasxSubcategorias">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CategoriasxSubcategorias" nillable="true" type="tns:CategoriasxSubcategorias" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoriasxSubcategorias">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idCategoria" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPadre" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idHijo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionCategoria" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSBusquedaTitulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="palabra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBusquedaTituloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBusquedaTituloResult" type="tns:ArrayOfBusquedaTitulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBusquedaTitulo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BusquedaTitulo" nillable="true" type="tns:BusquedaTitulo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BusquedaTitulo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idarticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSConsultarArticuloxId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArt" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuarioConsulta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarArticuloxIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarArticuloxIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBusquedaArticulosxClick">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="palabra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBusquedaArticulosxClickResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBusquedaArticulosxClickResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGuardarPalabraBuscada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="palabra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGuardarPalabraBuscadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSGuardarPalabraBuscadaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscarArtMasVistor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscarArtMasVistorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscarArtMasVistorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSregistrarVisita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSregistrarVisitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSregistrarVisitaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSconsultarComentariosxArt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSconsultarComentariosxArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSconsultarComentariosxArtResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSregistrarValoracionxArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="estrellas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSregistrarValoracionxArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSregistrarValoracionxArticuloResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOpregistrarArt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categorias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="grupos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOpregistrarArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSOpregistrarArtResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOpconsultarArtxValidar">
        <s:complexType />
      </s:element>
      <s:element name="WSOpconsultarArtxValidarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOpconsultarArtxValidarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarArtEdicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarArtEdicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarArtEdicionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarCategorias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPadreCat" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarCategoriasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSEditarArt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categorias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="grupos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSEditarArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSEditarArtResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarArtPorValidar">
        <s:complexType />
      </s:element>
      <s:element name="WSConsultarArtPorValidarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarArtPorValidarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOguardarEstatusArticuloAprobar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="estatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOguardarEstatusArticuloAprobarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOguardarEstatusArticuloAprobarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarGruposxUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarGruposxUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarGruposxUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSRegistrarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionCategoria" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSRegistrarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSRegistrarCategoriaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSRegistrarSubcategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPadre" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionCategoria" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSRegistrarSubcategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSRegistrarSubcategoriaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarCategoriasSub">
        <s:complexType />
      </s:element>
      <s:element name="WSConsultarCategoriasSubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarCategoriasSubResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarSubcategorias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCat" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarSubcategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarSubcategoriasResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSObtenerArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fechaInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valReporte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valTop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSObtenerArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSObtenerArticuloResult" type="tns:ArrayOfReporte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReporte">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reporte" nillable="true" type="tns:Reporte" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Reporte">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="categoria" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="visitas" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="palabraBuscada" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numeroDeBusquedas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="promedioCalificacion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="calificacionTotal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="categoriaMasVista" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSConsultarHistorialArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarHistorialArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarHistorialArticuloResult" type="tns:ArrayOfHistorial" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHistorial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Historial" nillable="true" type="tns:Historial" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Historial">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="version" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaCreacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaModificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfArticulos" nillable="true" type="tns:ArrayOfArticulos" />
      <s:element name="ArrayOfCategoriasxSubcategorias" nillable="true" type="tns:ArrayOfCategoriasxSubcategorias" />
      <s:element name="ArrayOfBusquedaTitulo" nillable="true" type="tns:ArrayOfBusquedaTitulo" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfReporte" nillable="true" type="tns:ArrayOfReporte" />
      <s:element name="ArrayOfHistorial" nillable="true" type="tns:ArrayOfHistorial" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSOptenerArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSOptenerArt" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSOptenerArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgSoapIn">
    <wsdl:part name="parameters" element="tns:WSOptenerCatg" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgSoapOut">
    <wsdl:part name="parameters" element="tns:WSOptenerCatgResponse" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloSoapIn">
    <wsdl:part name="parameters" element="tns:WSBusquedaTitulo" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloSoapOut">
    <wsdl:part name="parameters" element="tns:WSBusquedaTituloResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarArticuloxId" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarArticuloxIdResponse" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickSoapIn">
    <wsdl:part name="parameters" element="tns:WSBusquedaArticulosxClick" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickSoapOut">
    <wsdl:part name="parameters" element="tns:WSBusquedaArticulosxClickResponse" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaSoapIn">
    <wsdl:part name="parameters" element="tns:WSGuardarPalabraBuscada" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaSoapOut">
    <wsdl:part name="parameters" element="tns:WSGuardarPalabraBuscadaResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscarArtMasVistor" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscarArtMasVistorResponse" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaSoapIn">
    <wsdl:part name="parameters" element="tns:WSregistrarVisita" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaSoapOut">
    <wsdl:part name="parameters" element="tns:WSregistrarVisitaResponse" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSconsultarComentariosxArt" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSconsultarComentariosxArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:WSregistrarValoracionxArticulo" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:WSregistrarValoracionxArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSOpregistrarArt" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSOpregistrarArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarSoapIn">
    <wsdl:part name="parameters" element="tns:WSOpconsultarArtxValidar" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarSoapOut">
    <wsdl:part name="parameters" element="tns:WSOpconsultarArtxValidarResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarArtEdicion" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarArtEdicionResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarCategorias" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSEditarArt" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSEditarArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtPorValidarSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarArtPorValidar" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtPorValidarSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarArtPorValidarResponse" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarSoapIn">
    <wsdl:part name="parameters" element="tns:WSOguardarEstatusArticuloAprobar" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarSoapOut">
    <wsdl:part name="parameters" element="tns:WSOguardarEstatusArticuloAprobarResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarGruposxUsuario" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarGruposxUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:WSRegistrarCategoria" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:WSRegistrarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarSubcategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:WSRegistrarSubcategoria" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarSubcategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:WSRegistrarSubcategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasSubSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarCategoriasSub" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasSubSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarCategoriasSubResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarSubcategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSConsultarSubcategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarSubcategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:WSObtenerArticulo" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:WSObtenerArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarHistorialArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarHistorialArticulo" />
  </wsdl:message>
  <wsdl:message name="WSConsultarHistorialArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarHistorialArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtHttpGetIn" />
  <wsdl:message name="WSOptenerArtHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfArticulos" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgHttpGetIn" />
  <wsdl:message name="WSOptenerCatgHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpGetIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfBusquedaTitulo" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdHttpGetIn">
    <wsdl:part name="idArt" type="s:string" />
    <wsdl:part name="idUsuarioConsulta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickHttpGetIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaHttpGetIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorHttpGetIn">
    <wsdl:part name="top" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaHttpGetIn">
    <wsdl:part name="idUsuario" type="s:string" />
    <wsdl:part name="idArticulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtHttpGetIn">
    <wsdl:part name="idArticulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloHttpGetIn">
    <wsdl:part name="estrellas" type="s:string" />
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="comentario" type="s:string" />
    <wsdl:part name="idUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpGetIn">
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s:string" />
    <wsdl:part name="tags" type="s:string" />
    <wsdl:part name="grupos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarHttpGetIn" />
  <wsdl:message name="WSOpconsultarArtxValidarHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionHttpGetIn">
    <wsdl:part name="idArt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasHttpGetIn">
    <wsdl:part name="idPadreCat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtHttpGetIn">
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s:string" />
    <wsdl:part name="tags" type="s:string" />
    <wsdl:part name="grupos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtPorValidarHttpGetIn" />
  <wsdl:message name="WSConsultarArtPorValidarHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarHttpGetIn">
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="comentario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioHttpGetIn">
    <wsdl:part name="idUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarCategoriaHttpGetIn">
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="descripcionCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarCategoriaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarSubcategoriaHttpGetIn">
    <wsdl:part name="idPadre" type="s:string" />
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="descripcionCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarSubcategoriaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasSubHttpGetIn" />
  <wsdl:message name="WSConsultarCategoriasSubHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSConsultarSubcategoriasHttpGetIn">
    <wsdl:part name="idCat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarSubcategoriasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloHttpGetIn">
    <wsdl:part name="fechaInicial" type="s:string" />
    <wsdl:part name="fechaFinal" type="s:string" />
    <wsdl:part name="valReporte" type="s:string" />
    <wsdl:part name="valTop" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfReporte" />
  </wsdl:message>
  <wsdl:message name="WSConsultarHistorialArticuloHttpGetIn">
    <wsdl:part name="idArt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarHistorialArticuloHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfHistorial" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtHttpPostIn" />
  <wsdl:message name="WSOptenerArtHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfArticulos" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgHttpPostIn" />
  <wsdl:message name="WSOptenerCatgHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpPostIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfBusquedaTitulo" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdHttpPostIn">
    <wsdl:part name="idArt" type="s:string" />
    <wsdl:part name="idUsuarioConsulta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickHttpPostIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaHttpPostIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorHttpPostIn">
    <wsdl:part name="top" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaHttpPostIn">
    <wsdl:part name="idUsuario" type="s:string" />
    <wsdl:part name="idArticulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtHttpPostIn">
    <wsdl:part name="idArticulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloHttpPostIn">
    <wsdl:part name="estrellas" type="s:string" />
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="comentario" type="s:string" />
    <wsdl:part name="idUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpPostIn">
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s:string" />
    <wsdl:part name="tags" type="s:string" />
    <wsdl:part name="grupos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarHttpPostIn" />
  <wsdl:message name="WSOpconsultarArtxValidarHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionHttpPostIn">
    <wsdl:part name="idArt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasHttpPostIn">
    <wsdl:part name="idPadreCat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtHttpPostIn">
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s:string" />
    <wsdl:part name="tags" type="s:string" />
    <wsdl:part name="grupos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtPorValidarHttpPostIn" />
  <wsdl:message name="WSConsultarArtPorValidarHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarHttpPostIn">
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="comentario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioHttpPostIn">
    <wsdl:part name="idUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarCategoriaHttpPostIn">
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="descripcionCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarCategoriaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarSubcategoriaHttpPostIn">
    <wsdl:part name="idPadre" type="s:string" />
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="descripcionCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSRegistrarSubcategoriaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasSubHttpPostIn" />
  <wsdl:message name="WSConsultarCategoriasSubHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSConsultarSubcategoriasHttpPostIn">
    <wsdl:part name="idCat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarSubcategoriasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloHttpPostIn">
    <wsdl:part name="fechaInicial" type="s:string" />
    <wsdl:part name="fechaFinal" type="s:string" />
    <wsdl:part name="valReporte" type="s:string" />
    <wsdl:part name="valTop" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfReporte" />
  </wsdl:message>
  <wsdl:message name="WSConsultarHistorialArticuloHttpPostIn">
    <wsdl:part name="idArt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarHistorialArticuloHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfHistorial" />
  </wsdl:message>
  <wsdl:portType name="WSsupportCenterClassSoap">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtSoapIn" />
      <wsdl:output message="tns:WSOptenerArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgSoapIn" />
      <wsdl:output message="tns:WSOptenerCatgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <wsdl:input message="tns:WSBusquedaTituloSoapIn" />
      <wsdl:output message="tns:WSBusquedaTituloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <wsdl:input message="tns:WSConsultarArticuloxIdSoapIn" />
      <wsdl:output message="tns:WSConsultarArticuloxIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <wsdl:input message="tns:WSBusquedaArticulosxClickSoapIn" />
      <wsdl:output message="tns:WSBusquedaArticulosxClickSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <wsdl:input message="tns:WSGuardarPalabraBuscadaSoapIn" />
      <wsdl:output message="tns:WSGuardarPalabraBuscadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <wsdl:input message="tns:WSBuscarArtMasVistorSoapIn" />
      <wsdl:output message="tns:WSBuscarArtMasVistorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <wsdl:input message="tns:WSregistrarVisitaSoapIn" />
      <wsdl:output message="tns:WSregistrarVisitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <wsdl:input message="tns:WSconsultarComentariosxArtSoapIn" />
      <wsdl:output message="tns:WSconsultarComentariosxArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <wsdl:input message="tns:WSregistrarValoracionxArticuloSoapIn" />
      <wsdl:output message="tns:WSregistrarValoracionxArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <wsdl:input message="tns:WSOpregistrarArtSoapIn" />
      <wsdl:output message="tns:WSOpregistrarArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <wsdl:input message="tns:WSOpconsultarArtxValidarSoapIn" />
      <wsdl:output message="tns:WSOpconsultarArtxValidarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <wsdl:input message="tns:WSConsultarArtEdicionSoapIn" />
      <wsdl:output message="tns:WSConsultarArtEdicionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <wsdl:input message="tns:WSConsultarCategoriasSoapIn" />
      <wsdl:output message="tns:WSConsultarCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <wsdl:input message="tns:WSEditarArtSoapIn" />
      <wsdl:output message="tns:WSEditarArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <wsdl:input message="tns:WSConsultarArtPorValidarSoapIn" />
      <wsdl:output message="tns:WSConsultarArtPorValidarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <wsdl:input message="tns:WSOguardarEstatusArticuloAprobarSoapIn" />
      <wsdl:output message="tns:WSOguardarEstatusArticuloAprobarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <wsdl:input message="tns:WSConsultarGruposxUsuarioSoapIn" />
      <wsdl:output message="tns:WSConsultarGruposxUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarCategoria">
      <wsdl:input message="tns:WSRegistrarCategoriaSoapIn" />
      <wsdl:output message="tns:WSRegistrarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarSubcategoria">
      <wsdl:input message="tns:WSRegistrarSubcategoriaSoapIn" />
      <wsdl:output message="tns:WSRegistrarSubcategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategoriasSub">
      <wsdl:input message="tns:WSConsultarCategoriasSubSoapIn" />
      <wsdl:output message="tns:WSConsultarCategoriasSubSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarSubcategorias">
      <wsdl:input message="tns:WSConsultarSubcategoriasSoapIn" />
      <wsdl:output message="tns:WSConsultarSubcategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <wsdl:input message="tns:WSObtenerArticuloSoapIn" />
      <wsdl:output message="tns:WSObtenerArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarHistorialArticulo">
      <wsdl:input message="tns:WSConsultarHistorialArticuloSoapIn" />
      <wsdl:output message="tns:WSConsultarHistorialArticuloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSsupportCenterClassHttpGet">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtHttpGetIn" />
      <wsdl:output message="tns:WSOptenerArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgHttpGetIn" />
      <wsdl:output message="tns:WSOptenerCatgHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <wsdl:input message="tns:WSBusquedaTituloHttpGetIn" />
      <wsdl:output message="tns:WSBusquedaTituloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <wsdl:input message="tns:WSConsultarArticuloxIdHttpGetIn" />
      <wsdl:output message="tns:WSConsultarArticuloxIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <wsdl:input message="tns:WSBusquedaArticulosxClickHttpGetIn" />
      <wsdl:output message="tns:WSBusquedaArticulosxClickHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <wsdl:input message="tns:WSGuardarPalabraBuscadaHttpGetIn" />
      <wsdl:output message="tns:WSGuardarPalabraBuscadaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <wsdl:input message="tns:WSBuscarArtMasVistorHttpGetIn" />
      <wsdl:output message="tns:WSBuscarArtMasVistorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <wsdl:input message="tns:WSregistrarVisitaHttpGetIn" />
      <wsdl:output message="tns:WSregistrarVisitaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <wsdl:input message="tns:WSconsultarComentariosxArtHttpGetIn" />
      <wsdl:output message="tns:WSconsultarComentariosxArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <wsdl:input message="tns:WSregistrarValoracionxArticuloHttpGetIn" />
      <wsdl:output message="tns:WSregistrarValoracionxArticuloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <wsdl:input message="tns:WSOpregistrarArtHttpGetIn" />
      <wsdl:output message="tns:WSOpregistrarArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <wsdl:input message="tns:WSOpconsultarArtxValidarHttpGetIn" />
      <wsdl:output message="tns:WSOpconsultarArtxValidarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <wsdl:input message="tns:WSConsultarArtEdicionHttpGetIn" />
      <wsdl:output message="tns:WSConsultarArtEdicionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <wsdl:input message="tns:WSConsultarCategoriasHttpGetIn" />
      <wsdl:output message="tns:WSConsultarCategoriasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <wsdl:input message="tns:WSEditarArtHttpGetIn" />
      <wsdl:output message="tns:WSEditarArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <wsdl:input message="tns:WSConsultarArtPorValidarHttpGetIn" />
      <wsdl:output message="tns:WSConsultarArtPorValidarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <wsdl:input message="tns:WSOguardarEstatusArticuloAprobarHttpGetIn" />
      <wsdl:output message="tns:WSOguardarEstatusArticuloAprobarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <wsdl:input message="tns:WSConsultarGruposxUsuarioHttpGetIn" />
      <wsdl:output message="tns:WSConsultarGruposxUsuarioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarCategoria">
      <wsdl:input message="tns:WSRegistrarCategoriaHttpGetIn" />
      <wsdl:output message="tns:WSRegistrarCategoriaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarSubcategoria">
      <wsdl:input message="tns:WSRegistrarSubcategoriaHttpGetIn" />
      <wsdl:output message="tns:WSRegistrarSubcategoriaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategoriasSub">
      <wsdl:input message="tns:WSConsultarCategoriasSubHttpGetIn" />
      <wsdl:output message="tns:WSConsultarCategoriasSubHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarSubcategorias">
      <wsdl:input message="tns:WSConsultarSubcategoriasHttpGetIn" />
      <wsdl:output message="tns:WSConsultarSubcategoriasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <wsdl:input message="tns:WSObtenerArticuloHttpGetIn" />
      <wsdl:output message="tns:WSObtenerArticuloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarHistorialArticulo">
      <wsdl:input message="tns:WSConsultarHistorialArticuloHttpGetIn" />
      <wsdl:output message="tns:WSConsultarHistorialArticuloHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSsupportCenterClassHttpPost">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtHttpPostIn" />
      <wsdl:output message="tns:WSOptenerArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgHttpPostIn" />
      <wsdl:output message="tns:WSOptenerCatgHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <wsdl:input message="tns:WSBusquedaTituloHttpPostIn" />
      <wsdl:output message="tns:WSBusquedaTituloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <wsdl:input message="tns:WSConsultarArticuloxIdHttpPostIn" />
      <wsdl:output message="tns:WSConsultarArticuloxIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <wsdl:input message="tns:WSBusquedaArticulosxClickHttpPostIn" />
      <wsdl:output message="tns:WSBusquedaArticulosxClickHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <wsdl:input message="tns:WSGuardarPalabraBuscadaHttpPostIn" />
      <wsdl:output message="tns:WSGuardarPalabraBuscadaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <wsdl:input message="tns:WSBuscarArtMasVistorHttpPostIn" />
      <wsdl:output message="tns:WSBuscarArtMasVistorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <wsdl:input message="tns:WSregistrarVisitaHttpPostIn" />
      <wsdl:output message="tns:WSregistrarVisitaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <wsdl:input message="tns:WSconsultarComentariosxArtHttpPostIn" />
      <wsdl:output message="tns:WSconsultarComentariosxArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <wsdl:input message="tns:WSregistrarValoracionxArticuloHttpPostIn" />
      <wsdl:output message="tns:WSregistrarValoracionxArticuloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <wsdl:input message="tns:WSOpregistrarArtHttpPostIn" />
      <wsdl:output message="tns:WSOpregistrarArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <wsdl:input message="tns:WSOpconsultarArtxValidarHttpPostIn" />
      <wsdl:output message="tns:WSOpconsultarArtxValidarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <wsdl:input message="tns:WSConsultarArtEdicionHttpPostIn" />
      <wsdl:output message="tns:WSConsultarArtEdicionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <wsdl:input message="tns:WSConsultarCategoriasHttpPostIn" />
      <wsdl:output message="tns:WSConsultarCategoriasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <wsdl:input message="tns:WSEditarArtHttpPostIn" />
      <wsdl:output message="tns:WSEditarArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <wsdl:input message="tns:WSConsultarArtPorValidarHttpPostIn" />
      <wsdl:output message="tns:WSConsultarArtPorValidarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <wsdl:input message="tns:WSOguardarEstatusArticuloAprobarHttpPostIn" />
      <wsdl:output message="tns:WSOguardarEstatusArticuloAprobarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <wsdl:input message="tns:WSConsultarGruposxUsuarioHttpPostIn" />
      <wsdl:output message="tns:WSConsultarGruposxUsuarioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarCategoria">
      <wsdl:input message="tns:WSRegistrarCategoriaHttpPostIn" />
      <wsdl:output message="tns:WSRegistrarCategoriaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarSubcategoria">
      <wsdl:input message="tns:WSRegistrarSubcategoriaHttpPostIn" />
      <wsdl:output message="tns:WSRegistrarSubcategoriaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategoriasSub">
      <wsdl:input message="tns:WSConsultarCategoriasSubHttpPostIn" />
      <wsdl:output message="tns:WSConsultarCategoriasSubHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarSubcategorias">
      <wsdl:input message="tns:WSConsultarSubcategoriasHttpPostIn" />
      <wsdl:output message="tns:WSConsultarSubcategoriasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <wsdl:input message="tns:WSObtenerArticuloHttpPostIn" />
      <wsdl:output message="tns:WSObtenerArticuloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarHistorialArticulo">
      <wsdl:input message="tns:WSConsultarHistorialArticuloHttpPostIn" />
      <wsdl:output message="tns:WSConsultarHistorialArticuloHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSsupportCenterClassSoap" type="tns:WSsupportCenterClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSOptenerArt">
      <soap:operation soapAction="http://tempuri.org/WSOptenerArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <soap:operation soapAction="http://tempuri.org/WSOptenerCatg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <soap:operation soapAction="http://tempuri.org/WSBusquedaTitulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <soap:operation soapAction="http://tempuri.org/WSConsultarArticuloxId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <soap:operation soapAction="http://tempuri.org/WSBusquedaArticulosxClick" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <soap:operation soapAction="http://tempuri.org/WSGuardarPalabraBuscada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <soap:operation soapAction="http://tempuri.org/WSBuscarArtMasVistor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <soap:operation soapAction="http://tempuri.org/WSregistrarVisita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <soap:operation soapAction="http://tempuri.org/WSconsultarComentariosxArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <soap:operation soapAction="http://tempuri.org/WSregistrarValoracionxArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <soap:operation soapAction="http://tempuri.org/WSOpregistrarArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <soap:operation soapAction="http://tempuri.org/WSOpconsultarArtxValidar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <soap:operation soapAction="http://tempuri.org/WSConsultarArtEdicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <soap:operation soapAction="http://tempuri.org/WSConsultarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <soap:operation soapAction="http://tempuri.org/WSEditarArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <soap:operation soapAction="http://tempuri.org/WSConsultarArtPorValidar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <soap:operation soapAction="http://tempuri.org/WSOguardarEstatusArticuloAprobar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <soap:operation soapAction="http://tempuri.org/WSConsultarGruposxUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarCategoria">
      <soap:operation soapAction="http://tempuri.org/WSRegistrarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarSubcategoria">
      <soap:operation soapAction="http://tempuri.org/WSRegistrarSubcategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategoriasSub">
      <soap:operation soapAction="http://tempuri.org/WSConsultarCategoriasSub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarSubcategorias">
      <soap:operation soapAction="http://tempuri.org/WSConsultarSubcategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <soap:operation soapAction="http://tempuri.org/WSObtenerArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarHistorialArticulo">
      <soap:operation soapAction="http://tempuri.org/WSConsultarHistorialArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassSoap12" type="tns:WSsupportCenterClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSOptenerArt">
      <soap12:operation soapAction="http://tempuri.org/WSOptenerArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <soap12:operation soapAction="http://tempuri.org/WSOptenerCatg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <soap12:operation soapAction="http://tempuri.org/WSBusquedaTitulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarArticuloxId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <soap12:operation soapAction="http://tempuri.org/WSBusquedaArticulosxClick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <soap12:operation soapAction="http://tempuri.org/WSGuardarPalabraBuscada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <soap12:operation soapAction="http://tempuri.org/WSBuscarArtMasVistor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <soap12:operation soapAction="http://tempuri.org/WSregistrarVisita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <soap12:operation soapAction="http://tempuri.org/WSconsultarComentariosxArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <soap12:operation soapAction="http://tempuri.org/WSregistrarValoracionxArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <soap12:operation soapAction="http://tempuri.org/WSOpregistrarArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <soap12:operation soapAction="http://tempuri.org/WSOpconsultarArtxValidar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarArtEdicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <soap12:operation soapAction="http://tempuri.org/WSEditarArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarArtPorValidar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <soap12:operation soapAction="http://tempuri.org/WSOguardarEstatusArticuloAprobar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarGruposxUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarCategoria">
      <soap12:operation soapAction="http://tempuri.org/WSRegistrarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarSubcategoria">
      <soap12:operation soapAction="http://tempuri.org/WSRegistrarSubcategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategoriasSub">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarCategoriasSub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarSubcategorias">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarSubcategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <soap12:operation soapAction="http://tempuri.org/WSObtenerArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarHistorialArticulo">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarHistorialArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassHttpGet" type="tns:WSsupportCenterClassHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="WSOptenerArt">
      <http:operation location="/WSOptenerArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <http:operation location="/WSOptenerCatg" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <http:operation location="/WSBusquedaTitulo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <http:operation location="/WSConsultarArticuloxId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <http:operation location="/WSBusquedaArticulosxClick" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <http:operation location="/WSGuardarPalabraBuscada" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <http:operation location="/WSBuscarArtMasVistor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <http:operation location="/WSregistrarVisita" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <http:operation location="/WSconsultarComentariosxArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <http:operation location="/WSregistrarValoracionxArticulo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <http:operation location="/WSOpregistrarArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <http:operation location="/WSOpconsultarArtxValidar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <http:operation location="/WSConsultarArtEdicion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <http:operation location="/WSConsultarCategorias" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <http:operation location="/WSEditarArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <http:operation location="/WSConsultarArtPorValidar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <http:operation location="/WSOguardarEstatusArticuloAprobar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <http:operation location="/WSConsultarGruposxUsuario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarCategoria">
      <http:operation location="/WSRegistrarCategoria" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarSubcategoria">
      <http:operation location="/WSRegistrarSubcategoria" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategoriasSub">
      <http:operation location="/WSConsultarCategoriasSub" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarSubcategorias">
      <http:operation location="/WSConsultarSubcategorias" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <http:operation location="/WSObtenerArticulo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarHistorialArticulo">
      <http:operation location="/WSConsultarHistorialArticulo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassHttpPost" type="tns:WSsupportCenterClassHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="WSOptenerArt">
      <http:operation location="/WSOptenerArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <http:operation location="/WSOptenerCatg" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <http:operation location="/WSBusquedaTitulo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <http:operation location="/WSConsultarArticuloxId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <http:operation location="/WSBusquedaArticulosxClick" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <http:operation location="/WSGuardarPalabraBuscada" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <http:operation location="/WSBuscarArtMasVistor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <http:operation location="/WSregistrarVisita" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <http:operation location="/WSconsultarComentariosxArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <http:operation location="/WSregistrarValoracionxArticulo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <http:operation location="/WSOpregistrarArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <http:operation location="/WSOpconsultarArtxValidar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <http:operation location="/WSConsultarArtEdicion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <http:operation location="/WSConsultarCategorias" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <http:operation location="/WSEditarArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <http:operation location="/WSConsultarArtPorValidar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <http:operation location="/WSOguardarEstatusArticuloAprobar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <http:operation location="/WSConsultarGruposxUsuario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarCategoria">
      <http:operation location="/WSRegistrarCategoria" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRegistrarSubcategoria">
      <http:operation location="/WSRegistrarSubcategoria" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategoriasSub">
      <http:operation location="/WSConsultarCategoriasSub" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarSubcategorias">
      <http:operation location="/WSConsultarSubcategorias" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <http:operation location="/WSObtenerArticulo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarHistorialArticulo">
      <http:operation location="/WSConsultarHistorialArticulo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSsupportCenterClass">
    <wsdl:port name="WSsupportCenterClassSoap" binding="tns:WSsupportCenterClassSoap">
      <soap:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassSoap12" binding="tns:WSsupportCenterClassSoap12">
      <soap12:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassHttpGet" binding="tns:WSsupportCenterClassHttpGet">
      <http:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassHttpPost" binding="tns:WSsupportCenterClassHttpPost">
      <http:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>