WBSupportCenter/WBSupportCenter/Web References/WSsupport1/WSSupportCenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSOptenerArt">
        <s:complexType />
      </s:element>
      <s:element name="WSOptenerArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOptenerArtResult" type="tns:ArrayOfArticulos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArticulos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Articulos" nillable="true" type="tns:Articulos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Articulos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idarticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idEstatusArticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaCreacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSOptenerCatg">
        <s:complexType />
      </s:element>
      <s:element name="WSOptenerCatgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOptenerCatgResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategoriasxSubcategorias">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CategoriasxSubcategorias" nillable="true" type="tns:CategoriasxSubcategorias" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoriasxSubcategorias">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idCategorias" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPadre" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idHijo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionCategoria" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="estatus" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSBusquedaTitulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="palabra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBusquedaTituloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBusquedaTituloResult" type="tns:ArrayOfBusquedaTitulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBusquedaTitulo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BusquedaTitulo" nillable="true" type="tns:BusquedaTitulo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BusquedaTitulo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idarticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSOpregistrarArt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categorias" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSOpregistrarArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSOpregistrarArtResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOpconsultarArtxValidar">
        <s:complexType />
      </s:element>
      <s:element name="WSOpconsultarArtxValidarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOpconsultarArtxValidarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldDataSet">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfArticulos" nillable="true" type="tns:ArrayOfArticulos" />
      <s:element name="ArrayOfCategoriasxSubcategorias" nillable="true" type="tns:ArrayOfCategoriasxSubcategorias" />
      <s:element name="ArrayOfBusquedaTitulo" nillable="true" type="tns:ArrayOfBusquedaTitulo" />
      <s:element name="int" type="s:int" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSOptenerArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSOptenerArt" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSOptenerArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgSoapIn">
    <wsdl:part name="parameters" element="tns:WSOptenerCatg" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgSoapOut">
    <wsdl:part name="parameters" element="tns:WSOptenerCatgResponse" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloSoapIn">
    <wsdl:part name="parameters" element="tns:WSBusquedaTitulo" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloSoapOut">
    <wsdl:part name="parameters" element="tns:WSBusquedaTituloResponse" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSOpregistrarArt" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSOpregistrarArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarSoapIn">
    <wsdl:part name="parameters" element="tns:WSOpconsultarArtxValidar" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarSoapOut">
    <wsdl:part name="parameters" element="tns:WSOpconsultarArtxValidarResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorldDataSet" />
  </wsdl:message>
  <wsdl:message name="HelloWorldDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtHttpGetIn" />
  <wsdl:message name="WSOptenerArtHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfArticulos" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgHttpGetIn" />
  <wsdl:message name="WSOptenerCatgHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpGetIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfBusquedaTitulo" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpGetIn">
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarHttpGetIn" />
  <wsdl:message name="WSOpconsultarArtxValidarHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="HelloWorldDataSetHttpGetIn" />
  <wsdl:message name="HelloWorldDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtHttpPostIn" />
  <wsdl:message name="WSOptenerArtHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfArticulos" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgHttpPostIn" />
  <wsdl:message name="WSOptenerCatgHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpPostIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfBusquedaTitulo" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpPostIn">
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarHttpPostIn" />
  <wsdl:message name="WSOpconsultarArtxValidarHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="HelloWorldDataSetHttpPostIn" />
  <wsdl:message name="HelloWorldDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="WSsupportCenterClassSoap">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtSoapIn" />
      <wsdl:output message="tns:WSOptenerArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgSoapIn" />
      <wsdl:output message="tns:WSOptenerCatgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <wsdl:input message="tns:WSBusquedaTituloSoapIn" />
      <wsdl:output message="tns:WSBusquedaTituloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <wsdl:input message="tns:WSOpregistrarArtSoapIn" />
      <wsdl:output message="tns:WSOpregistrarArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <wsdl:input message="tns:WSOpconsultarArtxValidarSoapIn" />
      <wsdl:output message="tns:WSOpconsultarArtxValidarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDataSet">
      <wsdl:input message="tns:HelloWorldDataSetSoapIn" />
      <wsdl:output message="tns:HelloWorldDataSetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSsupportCenterClassHttpGet">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtHttpGetIn" />
      <wsdl:output message="tns:WSOptenerArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgHttpGetIn" />
      <wsdl:output message="tns:WSOptenerCatgHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <wsdl:input message="tns:WSBusquedaTituloHttpGetIn" />
      <wsdl:output message="tns:WSBusquedaTituloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <wsdl:input message="tns:WSOpregistrarArtHttpGetIn" />
      <wsdl:output message="tns:WSOpregistrarArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <wsdl:input message="tns:WSOpconsultarArtxValidarHttpGetIn" />
      <wsdl:output message="tns:WSOpconsultarArtxValidarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDataSet">
      <wsdl:input message="tns:HelloWorldDataSetHttpGetIn" />
      <wsdl:output message="tns:HelloWorldDataSetHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSsupportCenterClassHttpPost">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtHttpPostIn" />
      <wsdl:output message="tns:WSOptenerArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgHttpPostIn" />
      <wsdl:output message="tns:WSOptenerCatgHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <wsdl:input message="tns:WSBusquedaTituloHttpPostIn" />
      <wsdl:output message="tns:WSBusquedaTituloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <wsdl:input message="tns:WSOpregistrarArtHttpPostIn" />
      <wsdl:output message="tns:WSOpregistrarArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <wsdl:input message="tns:WSOpconsultarArtxValidarHttpPostIn" />
      <wsdl:output message="tns:WSOpconsultarArtxValidarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDataSet">
      <wsdl:input message="tns:HelloWorldDataSetHttpPostIn" />
      <wsdl:output message="tns:HelloWorldDataSetHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSsupportCenterClassSoap" type="tns:WSsupportCenterClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSOptenerArt">
      <soap:operation soapAction="http://tempuri.org/WSOptenerArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <soap:operation soapAction="http://tempuri.org/WSOptenerCatg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <soap:operation soapAction="http://tempuri.org/WSBusquedaTitulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <soap:operation soapAction="http://tempuri.org/WSOpregistrarArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <soap:operation soapAction="http://tempuri.org/WSOpconsultarArtxValidar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDataSet">
      <soap:operation soapAction="http://tempuri.org/HelloWorldDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassSoap12" type="tns:WSsupportCenterClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSOptenerArt">
      <soap12:operation soapAction="http://tempuri.org/WSOptenerArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <soap12:operation soapAction="http://tempuri.org/WSOptenerCatg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <soap12:operation soapAction="http://tempuri.org/WSBusquedaTitulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <soap12:operation soapAction="http://tempuri.org/WSOpregistrarArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <soap12:operation soapAction="http://tempuri.org/WSOpconsultarArtxValidar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDataSet">
      <soap12:operation soapAction="http://tempuri.org/HelloWorldDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassHttpGet" type="tns:WSsupportCenterClassHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="WSOptenerArt">
      <http:operation location="/WSOptenerArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <http:operation location="/WSOptenerCatg" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <http:operation location="/WSBusquedaTitulo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <http:operation location="/WSOpregistrarArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <http:operation location="/WSOpconsultarArtxValidar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDataSet">
      <http:operation location="/HelloWorldDataSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassHttpPost" type="tns:WSsupportCenterClassHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="WSOptenerArt">
      <http:operation location="/WSOptenerArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <http:operation location="/WSOptenerCatg" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <http:operation location="/WSBusquedaTitulo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <http:operation location="/WSOpregistrarArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <http:operation location="/WSOpconsultarArtxValidar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDataSet">
      <http:operation location="/HelloWorldDataSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSsupportCenterClass">
    <wsdl:port name="WSsupportCenterClassSoap" binding="tns:WSsupportCenterClassSoap">
      <soap:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassSoap12" binding="tns:WSsupportCenterClassSoap12">
      <soap12:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassHttpGet" binding="tns:WSsupportCenterClassHttpGet">
      <http:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassHttpPost" binding="tns:WSsupportCenterClassHttpPost">
      <http:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>