WBSupportCenter/WBSupportCenter/Web References/WSsupport1/WSSupportCenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSOptenerArt">
        <s:complexType />
      </s:element>
      <s:element name="WSOptenerArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOptenerArtResult" type="tns:ArrayOfArticulos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArticulos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Articulos" nillable="true" type="tns:Articulos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Articulos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idarticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idEstatusArticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaCreacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSOptenerCatg">
        <s:complexType />
      </s:element>
      <s:element name="WSOptenerCatgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOptenerCatgResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategoriasxSubcategorias">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CategoriasxSubcategorias" nillable="true" type="tns:CategoriasxSubcategorias" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoriasxSubcategorias">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idCategorias" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idPadre" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idHijo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionCategoria" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="estatus" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSBusquedaTitulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="palabra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBusquedaTituloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBusquedaTituloResult" type="tns:ArrayOfBusquedaTitulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBusquedaTitulo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BusquedaTitulo" nillable="true" type="tns:BusquedaTitulo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BusquedaTitulo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idarticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSConsultarArticuloxId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarArticuloxIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarArticuloxIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBusquedaArticulosxClick">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="palabra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBusquedaArticulosxClickResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBusquedaArticulosxClickResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGuardarPalabraBuscada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="palabra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGuardarPalabraBuscadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSGuardarPalabraBuscadaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscarArtMasVistor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSBuscarArtMasVistorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSBuscarArtMasVistorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSregistrarVisita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSregistrarVisitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSregistrarVisitaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSconsultarComentariosxArt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSconsultarComentariosxArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSconsultarComentariosxArtResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSregistrarValoracionxArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="estrellas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSregistrarValoracionxArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSregistrarValoracionxArticuloResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOpregistrarArt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categorias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="grupos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOpregistrarArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSOpregistrarArtResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOpconsultarArtxValidar">
        <s:complexType />
      </s:element>
      <s:element name="WSOpconsultarArtxValidarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOpconsultarArtxValidarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarArtEdicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarArtEdicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarArtEdicionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarCategorias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPadreCat" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarCategoriasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSEditarArt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categorias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tags" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="grupos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSEditarArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSEditarArtResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarArtPorValidar">
        <s:complexType />
      </s:element>
      <s:element name="WSConsultarArtPorValidarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarArtPorValidarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOguardarEstatusArticuloAprobar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="estatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOguardarEstatusArticuloAprobarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOguardarEstatusArticuloAprobarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarGruposxUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSConsultarGruposxUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSConsultarGruposxUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSconsultarCategorias">
        <s:complexType />
      </s:element>
      <s:element name="WSconsultarCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSconsultarCategoriasResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSgetSinHijos">
        <s:complexType />
      </s:element>
      <s:element name="WSgetSinHijosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSgetSinHijosResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSgetSinPadres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPadre" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSgetSinPadresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSgetSinPadresResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSgetSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSgetSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSgetSizeResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSgetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSgetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSgetListResult" type="tns:ArrayOfCategoriasxSubcategorias" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSguardarCategorias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSguardarCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSguardarCategoriasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSguardarCategoriasEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idCategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSguardarCategoriasEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSguardarCategoriasEditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSguardarRelacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreCategoria" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idCategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSguardarRelacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSguardarRelacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSeliminarCategorias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSeliminarCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSeliminarCategoriasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSObtenerArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fechaInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valReporte" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSObtenerArticuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSObtenerArticuloResult" type="tns:ArrayOfReporte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReporte">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reporte" nillable="true" type="tns:Reporte" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Reporte">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idArticulo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreArticulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="categoria" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="visitas" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="palabraBuscada" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numeroDeBusquedas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="promedioCalificacion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="calificacionTotal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="categoriaMasVista" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfArticulos" nillable="true" type="tns:ArrayOfArticulos" />
      <s:element name="ArrayOfCategoriasxSubcategorias" nillable="true" type="tns:ArrayOfCategoriasxSubcategorias" />
      <s:element name="ArrayOfBusquedaTitulo" nillable="true" type="tns:ArrayOfBusquedaTitulo" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfReporte" nillable="true" type="tns:ArrayOfReporte" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSOptenerArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSOptenerArt" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSOptenerArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgSoapIn">
    <wsdl:part name="parameters" element="tns:WSOptenerCatg" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgSoapOut">
    <wsdl:part name="parameters" element="tns:WSOptenerCatgResponse" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloSoapIn">
    <wsdl:part name="parameters" element="tns:WSBusquedaTitulo" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloSoapOut">
    <wsdl:part name="parameters" element="tns:WSBusquedaTituloResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarArticuloxId" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarArticuloxIdResponse" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickSoapIn">
    <wsdl:part name="parameters" element="tns:WSBusquedaArticulosxClick" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickSoapOut">
    <wsdl:part name="parameters" element="tns:WSBusquedaArticulosxClickResponse" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaSoapIn">
    <wsdl:part name="parameters" element="tns:WSGuardarPalabraBuscada" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaSoapOut">
    <wsdl:part name="parameters" element="tns:WSGuardarPalabraBuscadaResponse" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorSoapIn">
    <wsdl:part name="parameters" element="tns:WSBuscarArtMasVistor" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorSoapOut">
    <wsdl:part name="parameters" element="tns:WSBuscarArtMasVistorResponse" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaSoapIn">
    <wsdl:part name="parameters" element="tns:WSregistrarVisita" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaSoapOut">
    <wsdl:part name="parameters" element="tns:WSregistrarVisitaResponse" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSconsultarComentariosxArt" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSconsultarComentariosxArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:WSregistrarValoracionxArticulo" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:WSregistrarValoracionxArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSOpregistrarArt" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSOpregistrarArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarSoapIn">
    <wsdl:part name="parameters" element="tns:WSOpconsultarArtxValidar" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarSoapOut">
    <wsdl:part name="parameters" element="tns:WSOpconsultarArtxValidarResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarArtEdicion" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarArtEdicionResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarCategorias" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSEditarArt" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSEditarArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtPorValidarSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarArtPorValidar" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtPorValidarSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarArtPorValidarResponse" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarSoapIn">
    <wsdl:part name="parameters" element="tns:WSOguardarEstatusArticuloAprobar" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarSoapOut">
    <wsdl:part name="parameters" element="tns:WSOguardarEstatusArticuloAprobarResponse" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:WSConsultarGruposxUsuario" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:WSConsultarGruposxUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="WSconsultarCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:WSconsultarCategorias" />
  </wsdl:message>
  <wsdl:message name="WSconsultarCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:WSconsultarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="WSgetSinHijosSoapIn">
    <wsdl:part name="parameters" element="tns:WSgetSinHijos" />
  </wsdl:message>
  <wsdl:message name="WSgetSinHijosSoapOut">
    <wsdl:part name="parameters" element="tns:WSgetSinHijosResponse" />
  </wsdl:message>
  <wsdl:message name="WSgetSinPadresSoapIn">
    <wsdl:part name="parameters" element="tns:WSgetSinPadres" />
  </wsdl:message>
  <wsdl:message name="WSgetSinPadresSoapOut">
    <wsdl:part name="parameters" element="tns:WSgetSinPadresResponse" />
  </wsdl:message>
  <wsdl:message name="WSgetSizeSoapIn">
    <wsdl:part name="parameters" element="tns:WSgetSize" />
  </wsdl:message>
  <wsdl:message name="WSgetSizeSoapOut">
    <wsdl:part name="parameters" element="tns:WSgetSizeResponse" />
  </wsdl:message>
  <wsdl:message name="WSgetListSoapIn">
    <wsdl:part name="parameters" element="tns:WSgetList" />
  </wsdl:message>
  <wsdl:message name="WSgetListSoapOut">
    <wsdl:part name="parameters" element="tns:WSgetListResponse" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:WSguardarCategorias" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:WSguardarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasEditSoapIn">
    <wsdl:part name="parameters" element="tns:WSguardarCategoriasEdit" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasEditSoapOut">
    <wsdl:part name="parameters" element="tns:WSguardarCategoriasEditResponse" />
  </wsdl:message>
  <wsdl:message name="WSguardarRelacionSoapIn">
    <wsdl:part name="parameters" element="tns:WSguardarRelacion" />
  </wsdl:message>
  <wsdl:message name="WSguardarRelacionSoapOut">
    <wsdl:part name="parameters" element="tns:WSguardarRelacionResponse" />
  </wsdl:message>
  <wsdl:message name="WSeliminarCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:WSeliminarCategorias" />
  </wsdl:message>
  <wsdl:message name="WSeliminarCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:WSeliminarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:WSObtenerArticulo" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:WSObtenerArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtHttpGetIn" />
  <wsdl:message name="WSOptenerArtHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfArticulos" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgHttpGetIn" />
  <wsdl:message name="WSOptenerCatgHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpGetIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfBusquedaTitulo" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdHttpGetIn">
    <wsdl:part name="idArt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickHttpGetIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaHttpGetIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorHttpGetIn">
    <wsdl:part name="top" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaHttpGetIn">
    <wsdl:part name="idUsuario" type="s:string" />
    <wsdl:part name="idArticulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtHttpGetIn">
    <wsdl:part name="idArticulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloHttpGetIn">
    <wsdl:part name="estrellas" type="s:string" />
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="comentario" type="s:string" />
    <wsdl:part name="idUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpGetIn">
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s:string" />
    <wsdl:part name="tags" type="s:string" />
    <wsdl:part name="grupos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarHttpGetIn" />
  <wsdl:message name="WSOpconsultarArtxValidarHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionHttpGetIn">
    <wsdl:part name="idArt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasHttpGetIn">
    <wsdl:part name="idPadreCat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtHttpGetIn">
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s:string" />
    <wsdl:part name="tags" type="s:string" />
    <wsdl:part name="grupos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtPorValidarHttpGetIn" />
  <wsdl:message name="WSConsultarArtPorValidarHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarHttpGetIn">
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="comentario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioHttpGetIn">
    <wsdl:part name="idUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSconsultarCategoriasHttpGetIn" />
  <wsdl:message name="WSconsultarCategoriasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSgetSinHijosHttpGetIn" />
  <wsdl:message name="WSgetSinHijosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSgetSinPadresHttpGetIn">
    <wsdl:part name="idPadre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSgetSinPadresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSgetSizeHttpGetIn">
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSgetSizeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSgetListHttpGetIn">
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSgetListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasHttpGetIn">
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="descripcion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasEditHttpGetIn">
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="descripcion" type="s:string" />
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasEditHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarRelacionHttpGetIn">
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarRelacionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSeliminarCategoriasHttpGetIn">
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSeliminarCategoriasHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloHttpGetIn">
    <wsdl:part name="fechaInicial" type="s:string" />
    <wsdl:part name="fechaFinal" type="s:string" />
    <wsdl:part name="valReporte" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfReporte" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtHttpPostIn" />
  <wsdl:message name="WSOptenerArtHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfArticulos" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgHttpPostIn" />
  <wsdl:message name="WSOptenerCatgHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpPostIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaTituloHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfBusquedaTitulo" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdHttpPostIn">
    <wsdl:part name="idArt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArticuloxIdHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickHttpPostIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBusquedaArticulosxClickHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaHttpPostIn">
    <wsdl:part name="palabra" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGuardarPalabraBuscadaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorHttpPostIn">
    <wsdl:part name="top" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSBuscarArtMasVistorHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaHttpPostIn">
    <wsdl:part name="idUsuario" type="s:string" />
    <wsdl:part name="idArticulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSregistrarVisitaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtHttpPostIn">
    <wsdl:part name="idArticulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSconsultarComentariosxArtHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloHttpPostIn">
    <wsdl:part name="estrellas" type="s:string" />
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="comentario" type="s:string" />
    <wsdl:part name="idUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSregistrarValoracionxArticuloHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpPostIn">
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s:string" />
    <wsdl:part name="tags" type="s:string" />
    <wsdl:part name="grupos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSOpregistrarArtHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSOpconsultarArtxValidarHttpPostIn" />
  <wsdl:message name="WSOpconsultarArtxValidarHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionHttpPostIn">
    <wsdl:part name="idArt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtEdicionHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasHttpPostIn">
    <wsdl:part name="idPadreCat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarCategoriasHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtHttpPostIn">
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="nombreArticulo" type="s:string" />
    <wsdl:part name="contenido" type="s:string" />
    <wsdl:part name="categorias" type="s:string" />
    <wsdl:part name="tags" type="s:string" />
    <wsdl:part name="grupos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSEditarArtHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="WSConsultarArtPorValidarHttpPostIn" />
  <wsdl:message name="WSConsultarArtPorValidarHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarHttpPostIn">
    <wsdl:part name="idArticulo" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="comentario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSOguardarEstatusArticuloAprobarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioHttpPostIn">
    <wsdl:part name="idUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSConsultarGruposxUsuarioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="WSconsultarCategoriasHttpPostIn" />
  <wsdl:message name="WSconsultarCategoriasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSgetSinHijosHttpPostIn" />
  <wsdl:message name="WSgetSinHijosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSgetSinPadresHttpPostIn">
    <wsdl:part name="idPadre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSgetSinPadresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSgetSizeHttpPostIn">
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSgetSizeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSgetListHttpPostIn">
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSgetListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCategoriasxSubcategorias" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasHttpPostIn">
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="descripcion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasEditHttpPostIn">
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="descripcion" type="s:string" />
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarCategoriasEditHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarRelacionHttpPostIn">
    <wsdl:part name="nombreCategoria" type="s:string" />
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSguardarRelacionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSeliminarCategoriasHttpPostIn">
    <wsdl:part name="idCategoria" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSeliminarCategoriasHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloHttpPostIn">
    <wsdl:part name="fechaInicial" type="s:string" />
    <wsdl:part name="fechaFinal" type="s:string" />
    <wsdl:part name="valReporte" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSObtenerArticuloHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfReporte" />
  </wsdl:message>
  <wsdl:portType name="WSsupportCenterClassSoap">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtSoapIn" />
      <wsdl:output message="tns:WSOptenerArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgSoapIn" />
      <wsdl:output message="tns:WSOptenerCatgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <wsdl:input message="tns:WSBusquedaTituloSoapIn" />
      <wsdl:output message="tns:WSBusquedaTituloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <wsdl:input message="tns:WSConsultarArticuloxIdSoapIn" />
      <wsdl:output message="tns:WSConsultarArticuloxIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <wsdl:input message="tns:WSBusquedaArticulosxClickSoapIn" />
      <wsdl:output message="tns:WSBusquedaArticulosxClickSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <wsdl:input message="tns:WSGuardarPalabraBuscadaSoapIn" />
      <wsdl:output message="tns:WSGuardarPalabraBuscadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <wsdl:input message="tns:WSBuscarArtMasVistorSoapIn" />
      <wsdl:output message="tns:WSBuscarArtMasVistorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <wsdl:input message="tns:WSregistrarVisitaSoapIn" />
      <wsdl:output message="tns:WSregistrarVisitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <wsdl:input message="tns:WSconsultarComentariosxArtSoapIn" />
      <wsdl:output message="tns:WSconsultarComentariosxArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <wsdl:input message="tns:WSregistrarValoracionxArticuloSoapIn" />
      <wsdl:output message="tns:WSregistrarValoracionxArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <wsdl:input message="tns:WSOpregistrarArtSoapIn" />
      <wsdl:output message="tns:WSOpregistrarArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <wsdl:input message="tns:WSOpconsultarArtxValidarSoapIn" />
      <wsdl:output message="tns:WSOpconsultarArtxValidarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <wsdl:input message="tns:WSConsultarArtEdicionSoapIn" />
      <wsdl:output message="tns:WSConsultarArtEdicionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <wsdl:input message="tns:WSConsultarCategoriasSoapIn" />
      <wsdl:output message="tns:WSConsultarCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <wsdl:input message="tns:WSEditarArtSoapIn" />
      <wsdl:output message="tns:WSEditarArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <wsdl:input message="tns:WSConsultarArtPorValidarSoapIn" />
      <wsdl:output message="tns:WSConsultarArtPorValidarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <wsdl:input message="tns:WSOguardarEstatusArticuloAprobarSoapIn" />
      <wsdl:output message="tns:WSOguardarEstatusArticuloAprobarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <wsdl:input message="tns:WSConsultarGruposxUsuarioSoapIn" />
      <wsdl:output message="tns:WSConsultarGruposxUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSconsultarCategorias">
      <wsdl:input message="tns:WSconsultarCategoriasSoapIn" />
      <wsdl:output message="tns:WSconsultarCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetSinHijos">
      <wsdl:input message="tns:WSgetSinHijosSoapIn" />
      <wsdl:output message="tns:WSgetSinHijosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetSinPadres">
      <wsdl:input message="tns:WSgetSinPadresSoapIn" />
      <wsdl:output message="tns:WSgetSinPadresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetSize">
      <wsdl:input message="tns:WSgetSizeSoapIn" />
      <wsdl:output message="tns:WSgetSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetList">
      <wsdl:input message="tns:WSgetListSoapIn" />
      <wsdl:output message="tns:WSgetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategorias">
      <wsdl:input message="tns:WSguardarCategoriasSoapIn" />
      <wsdl:output message="tns:WSguardarCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategoriasEdit">
      <wsdl:input message="tns:WSguardarCategoriasEditSoapIn" />
      <wsdl:output message="tns:WSguardarCategoriasEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSguardarRelacion">
      <wsdl:input message="tns:WSguardarRelacionSoapIn" />
      <wsdl:output message="tns:WSguardarRelacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSeliminarCategorias">
      <wsdl:input message="tns:WSeliminarCategoriasSoapIn" />
      <wsdl:output message="tns:WSeliminarCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <wsdl:input message="tns:WSObtenerArticuloSoapIn" />
      <wsdl:output message="tns:WSObtenerArticuloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSsupportCenterClassHttpGet">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtHttpGetIn" />
      <wsdl:output message="tns:WSOptenerArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgHttpGetIn" />
      <wsdl:output message="tns:WSOptenerCatgHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <wsdl:input message="tns:WSBusquedaTituloHttpGetIn" />
      <wsdl:output message="tns:WSBusquedaTituloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <wsdl:input message="tns:WSConsultarArticuloxIdHttpGetIn" />
      <wsdl:output message="tns:WSConsultarArticuloxIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <wsdl:input message="tns:WSBusquedaArticulosxClickHttpGetIn" />
      <wsdl:output message="tns:WSBusquedaArticulosxClickHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <wsdl:input message="tns:WSGuardarPalabraBuscadaHttpGetIn" />
      <wsdl:output message="tns:WSGuardarPalabraBuscadaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <wsdl:input message="tns:WSBuscarArtMasVistorHttpGetIn" />
      <wsdl:output message="tns:WSBuscarArtMasVistorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <wsdl:input message="tns:WSregistrarVisitaHttpGetIn" />
      <wsdl:output message="tns:WSregistrarVisitaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <wsdl:input message="tns:WSconsultarComentariosxArtHttpGetIn" />
      <wsdl:output message="tns:WSconsultarComentariosxArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <wsdl:input message="tns:WSregistrarValoracionxArticuloHttpGetIn" />
      <wsdl:output message="tns:WSregistrarValoracionxArticuloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <wsdl:input message="tns:WSOpregistrarArtHttpGetIn" />
      <wsdl:output message="tns:WSOpregistrarArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <wsdl:input message="tns:WSOpconsultarArtxValidarHttpGetIn" />
      <wsdl:output message="tns:WSOpconsultarArtxValidarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <wsdl:input message="tns:WSConsultarArtEdicionHttpGetIn" />
      <wsdl:output message="tns:WSConsultarArtEdicionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <wsdl:input message="tns:WSConsultarCategoriasHttpGetIn" />
      <wsdl:output message="tns:WSConsultarCategoriasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <wsdl:input message="tns:WSEditarArtHttpGetIn" />
      <wsdl:output message="tns:WSEditarArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <wsdl:input message="tns:WSConsultarArtPorValidarHttpGetIn" />
      <wsdl:output message="tns:WSConsultarArtPorValidarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <wsdl:input message="tns:WSOguardarEstatusArticuloAprobarHttpGetIn" />
      <wsdl:output message="tns:WSOguardarEstatusArticuloAprobarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <wsdl:input message="tns:WSConsultarGruposxUsuarioHttpGetIn" />
      <wsdl:output message="tns:WSConsultarGruposxUsuarioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSconsultarCategorias">
      <wsdl:input message="tns:WSconsultarCategoriasHttpGetIn" />
      <wsdl:output message="tns:WSconsultarCategoriasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetSinHijos">
      <wsdl:input message="tns:WSgetSinHijosHttpGetIn" />
      <wsdl:output message="tns:WSgetSinHijosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetSinPadres">
      <wsdl:input message="tns:WSgetSinPadresHttpGetIn" />
      <wsdl:output message="tns:WSgetSinPadresHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetSize">
      <wsdl:input message="tns:WSgetSizeHttpGetIn" />
      <wsdl:output message="tns:WSgetSizeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetList">
      <wsdl:input message="tns:WSgetListHttpGetIn" />
      <wsdl:output message="tns:WSgetListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategorias">
      <wsdl:input message="tns:WSguardarCategoriasHttpGetIn" />
      <wsdl:output message="tns:WSguardarCategoriasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategoriasEdit">
      <wsdl:input message="tns:WSguardarCategoriasEditHttpGetIn" />
      <wsdl:output message="tns:WSguardarCategoriasEditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSguardarRelacion">
      <wsdl:input message="tns:WSguardarRelacionHttpGetIn" />
      <wsdl:output message="tns:WSguardarRelacionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSeliminarCategorias">
      <wsdl:input message="tns:WSeliminarCategoriasHttpGetIn" />
      <wsdl:output message="tns:WSeliminarCategoriasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <wsdl:input message="tns:WSObtenerArticuloHttpGetIn" />
      <wsdl:output message="tns:WSObtenerArticuloHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSsupportCenterClassHttpPost">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtHttpPostIn" />
      <wsdl:output message="tns:WSOptenerArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgHttpPostIn" />
      <wsdl:output message="tns:WSOptenerCatgHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <wsdl:input message="tns:WSBusquedaTituloHttpPostIn" />
      <wsdl:output message="tns:WSBusquedaTituloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <wsdl:input message="tns:WSConsultarArticuloxIdHttpPostIn" />
      <wsdl:output message="tns:WSConsultarArticuloxIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <wsdl:input message="tns:WSBusquedaArticulosxClickHttpPostIn" />
      <wsdl:output message="tns:WSBusquedaArticulosxClickHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <wsdl:input message="tns:WSGuardarPalabraBuscadaHttpPostIn" />
      <wsdl:output message="tns:WSGuardarPalabraBuscadaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <wsdl:input message="tns:WSBuscarArtMasVistorHttpPostIn" />
      <wsdl:output message="tns:WSBuscarArtMasVistorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <wsdl:input message="tns:WSregistrarVisitaHttpPostIn" />
      <wsdl:output message="tns:WSregistrarVisitaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <wsdl:input message="tns:WSconsultarComentariosxArtHttpPostIn" />
      <wsdl:output message="tns:WSconsultarComentariosxArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <wsdl:input message="tns:WSregistrarValoracionxArticuloHttpPostIn" />
      <wsdl:output message="tns:WSregistrarValoracionxArticuloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <wsdl:input message="tns:WSOpregistrarArtHttpPostIn" />
      <wsdl:output message="tns:WSOpregistrarArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <wsdl:input message="tns:WSOpconsultarArtxValidarHttpPostIn" />
      <wsdl:output message="tns:WSOpconsultarArtxValidarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <wsdl:input message="tns:WSConsultarArtEdicionHttpPostIn" />
      <wsdl:output message="tns:WSConsultarArtEdicionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <wsdl:input message="tns:WSConsultarCategoriasHttpPostIn" />
      <wsdl:output message="tns:WSConsultarCategoriasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <wsdl:input message="tns:WSEditarArtHttpPostIn" />
      <wsdl:output message="tns:WSEditarArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <wsdl:input message="tns:WSConsultarArtPorValidarHttpPostIn" />
      <wsdl:output message="tns:WSConsultarArtPorValidarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <wsdl:input message="tns:WSOguardarEstatusArticuloAprobarHttpPostIn" />
      <wsdl:output message="tns:WSOguardarEstatusArticuloAprobarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <wsdl:input message="tns:WSConsultarGruposxUsuarioHttpPostIn" />
      <wsdl:output message="tns:WSConsultarGruposxUsuarioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSconsultarCategorias">
      <wsdl:input message="tns:WSconsultarCategoriasHttpPostIn" />
      <wsdl:output message="tns:WSconsultarCategoriasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetSinHijos">
      <wsdl:input message="tns:WSgetSinHijosHttpPostIn" />
      <wsdl:output message="tns:WSgetSinHijosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetSinPadres">
      <wsdl:input message="tns:WSgetSinPadresHttpPostIn" />
      <wsdl:output message="tns:WSgetSinPadresHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetSize">
      <wsdl:input message="tns:WSgetSizeHttpPostIn" />
      <wsdl:output message="tns:WSgetSizeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSgetList">
      <wsdl:input message="tns:WSgetListHttpPostIn" />
      <wsdl:output message="tns:WSgetListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategorias">
      <wsdl:input message="tns:WSguardarCategoriasHttpPostIn" />
      <wsdl:output message="tns:WSguardarCategoriasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategoriasEdit">
      <wsdl:input message="tns:WSguardarCategoriasEditHttpPostIn" />
      <wsdl:output message="tns:WSguardarCategoriasEditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSguardarRelacion">
      <wsdl:input message="tns:WSguardarRelacionHttpPostIn" />
      <wsdl:output message="tns:WSguardarRelacionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSeliminarCategorias">
      <wsdl:input message="tns:WSeliminarCategoriasHttpPostIn" />
      <wsdl:output message="tns:WSeliminarCategoriasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <wsdl:input message="tns:WSObtenerArticuloHttpPostIn" />
      <wsdl:output message="tns:WSObtenerArticuloHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSsupportCenterClassSoap" type="tns:WSsupportCenterClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSOptenerArt">
      <soap:operation soapAction="http://tempuri.org/WSOptenerArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <soap:operation soapAction="http://tempuri.org/WSOptenerCatg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <soap:operation soapAction="http://tempuri.org/WSBusquedaTitulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <soap:operation soapAction="http://tempuri.org/WSConsultarArticuloxId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <soap:operation soapAction="http://tempuri.org/WSBusquedaArticulosxClick" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <soap:operation soapAction="http://tempuri.org/WSGuardarPalabraBuscada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <soap:operation soapAction="http://tempuri.org/WSBuscarArtMasVistor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <soap:operation soapAction="http://tempuri.org/WSregistrarVisita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <soap:operation soapAction="http://tempuri.org/WSconsultarComentariosxArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <soap:operation soapAction="http://tempuri.org/WSregistrarValoracionxArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <soap:operation soapAction="http://tempuri.org/WSOpregistrarArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <soap:operation soapAction="http://tempuri.org/WSOpconsultarArtxValidar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <soap:operation soapAction="http://tempuri.org/WSConsultarArtEdicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <soap:operation soapAction="http://tempuri.org/WSConsultarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <soap:operation soapAction="http://tempuri.org/WSEditarArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <soap:operation soapAction="http://tempuri.org/WSConsultarArtPorValidar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <soap:operation soapAction="http://tempuri.org/WSOguardarEstatusArticuloAprobar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <soap:operation soapAction="http://tempuri.org/WSConsultarGruposxUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarCategorias">
      <soap:operation soapAction="http://tempuri.org/WSconsultarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSinHijos">
      <soap:operation soapAction="http://tempuri.org/WSgetSinHijos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSinPadres">
      <soap:operation soapAction="http://tempuri.org/WSgetSinPadres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSize">
      <soap:operation soapAction="http://tempuri.org/WSgetSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetList">
      <soap:operation soapAction="http://tempuri.org/WSgetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategorias">
      <soap:operation soapAction="http://tempuri.org/WSguardarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategoriasEdit">
      <soap:operation soapAction="http://tempuri.org/WSguardarCategoriasEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarRelacion">
      <soap:operation soapAction="http://tempuri.org/WSguardarRelacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSeliminarCategorias">
      <soap:operation soapAction="http://tempuri.org/WSeliminarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <soap:operation soapAction="http://tempuri.org/WSObtenerArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassSoap12" type="tns:WSsupportCenterClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSOptenerArt">
      <soap12:operation soapAction="http://tempuri.org/WSOptenerArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <soap12:operation soapAction="http://tempuri.org/WSOptenerCatg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <soap12:operation soapAction="http://tempuri.org/WSBusquedaTitulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarArticuloxId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <soap12:operation soapAction="http://tempuri.org/WSBusquedaArticulosxClick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <soap12:operation soapAction="http://tempuri.org/WSGuardarPalabraBuscada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <soap12:operation soapAction="http://tempuri.org/WSBuscarArtMasVistor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <soap12:operation soapAction="http://tempuri.org/WSregistrarVisita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <soap12:operation soapAction="http://tempuri.org/WSconsultarComentariosxArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <soap12:operation soapAction="http://tempuri.org/WSregistrarValoracionxArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <soap12:operation soapAction="http://tempuri.org/WSOpregistrarArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <soap12:operation soapAction="http://tempuri.org/WSOpconsultarArtxValidar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarArtEdicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <soap12:operation soapAction="http://tempuri.org/WSEditarArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarArtPorValidar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <soap12:operation soapAction="http://tempuri.org/WSOguardarEstatusArticuloAprobar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <soap12:operation soapAction="http://tempuri.org/WSConsultarGruposxUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarCategorias">
      <soap12:operation soapAction="http://tempuri.org/WSconsultarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSinHijos">
      <soap12:operation soapAction="http://tempuri.org/WSgetSinHijos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSinPadres">
      <soap12:operation soapAction="http://tempuri.org/WSgetSinPadres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSize">
      <soap12:operation soapAction="http://tempuri.org/WSgetSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetList">
      <soap12:operation soapAction="http://tempuri.org/WSgetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategorias">
      <soap12:operation soapAction="http://tempuri.org/WSguardarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategoriasEdit">
      <soap12:operation soapAction="http://tempuri.org/WSguardarCategoriasEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarRelacion">
      <soap12:operation soapAction="http://tempuri.org/WSguardarRelacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSeliminarCategorias">
      <soap12:operation soapAction="http://tempuri.org/WSeliminarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <soap12:operation soapAction="http://tempuri.org/WSObtenerArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassHttpGet" type="tns:WSsupportCenterClassHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="WSOptenerArt">
      <http:operation location="/WSOptenerArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <http:operation location="/WSOptenerCatg" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <http:operation location="/WSBusquedaTitulo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <http:operation location="/WSConsultarArticuloxId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <http:operation location="/WSBusquedaArticulosxClick" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <http:operation location="/WSGuardarPalabraBuscada" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <http:operation location="/WSBuscarArtMasVistor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <http:operation location="/WSregistrarVisita" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <http:operation location="/WSconsultarComentariosxArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <http:operation location="/WSregistrarValoracionxArticulo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <http:operation location="/WSOpregistrarArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <http:operation location="/WSOpconsultarArtxValidar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <http:operation location="/WSConsultarArtEdicion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <http:operation location="/WSConsultarCategorias" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <http:operation location="/WSEditarArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <http:operation location="/WSConsultarArtPorValidar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <http:operation location="/WSOguardarEstatusArticuloAprobar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <http:operation location="/WSConsultarGruposxUsuario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarCategorias">
      <http:operation location="/WSconsultarCategorias" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSinHijos">
      <http:operation location="/WSgetSinHijos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSinPadres">
      <http:operation location="/WSgetSinPadres" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSize">
      <http:operation location="/WSgetSize" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetList">
      <http:operation location="/WSgetList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategorias">
      <http:operation location="/WSguardarCategorias" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategoriasEdit">
      <http:operation location="/WSguardarCategoriasEdit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarRelacion">
      <http:operation location="/WSguardarRelacion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSeliminarCategorias">
      <http:operation location="/WSeliminarCategorias" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <http:operation location="/WSObtenerArticulo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassHttpPost" type="tns:WSsupportCenterClassHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="WSOptenerArt">
      <http:operation location="/WSOptenerArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <http:operation location="/WSOptenerCatg" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaTitulo">
      <http:operation location="/WSBusquedaTitulo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArticuloxId">
      <http:operation location="/WSConsultarArticuloxId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBusquedaArticulosxClick">
      <http:operation location="/WSBusquedaArticulosxClick" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGuardarPalabraBuscada">
      <http:operation location="/WSGuardarPalabraBuscada" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSBuscarArtMasVistor">
      <http:operation location="/WSBuscarArtMasVistor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarVisita">
      <http:operation location="/WSregistrarVisita" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarComentariosxArt">
      <http:operation location="/WSconsultarComentariosxArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSregistrarValoracionxArticulo">
      <http:operation location="/WSregistrarValoracionxArticulo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpregistrarArt">
      <http:operation location="/WSOpregistrarArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOpconsultarArtxValidar">
      <http:operation location="/WSOpconsultarArtxValidar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtEdicion">
      <http:operation location="/WSConsultarArtEdicion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarCategorias">
      <http:operation location="/WSConsultarCategorias" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEditarArt">
      <http:operation location="/WSEditarArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarArtPorValidar">
      <http:operation location="/WSConsultarArtPorValidar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOguardarEstatusArticuloAprobar">
      <http:operation location="/WSOguardarEstatusArticuloAprobar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSConsultarGruposxUsuario">
      <http:operation location="/WSConsultarGruposxUsuario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSconsultarCategorias">
      <http:operation location="/WSconsultarCategorias" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSinHijos">
      <http:operation location="/WSgetSinHijos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSinPadres">
      <http:operation location="/WSgetSinPadres" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetSize">
      <http:operation location="/WSgetSize" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSgetList">
      <http:operation location="/WSgetList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategorias">
      <http:operation location="/WSguardarCategorias" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarCategoriasEdit">
      <http:operation location="/WSguardarCategoriasEdit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSguardarRelacion">
      <http:operation location="/WSguardarRelacion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSeliminarCategorias">
      <http:operation location="/WSeliminarCategorias" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSObtenerArticulo">
      <http:operation location="/WSObtenerArticulo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSsupportCenterClass">
    <wsdl:port name="WSsupportCenterClassSoap" binding="tns:WSsupportCenterClassSoap">
      <soap:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassSoap12" binding="tns:WSsupportCenterClassSoap12">
      <soap12:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassHttpGet" binding="tns:WSsupportCenterClassHttpGet">
      <http:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassHttpPost" binding="tns:WSsupportCenterClassHttpPost">
      <http:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>