WBSupportCenter/WBSupportCenter/Web References/WSsupport1/WSSupportCenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSOptenerArt">
        <s:complexType />
      </s:element>
      <s:element name="WSOptenerArtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOptenerArtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSOptenerCatg">
        <s:complexType />
      </s:element>
      <s:element name="WSOptenerCatgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSOptenerCatgResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSOptenerArtSoapIn">
    <wsdl:part name="parameters" element="tns:WSOptenerArt" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtSoapOut">
    <wsdl:part name="parameters" element="tns:WSOptenerArtResponse" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgSoapIn">
    <wsdl:part name="parameters" element="tns:WSOptenerCatg" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgSoapOut">
    <wsdl:part name="parameters" element="tns:WSOptenerCatgResponse" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtHttpGetIn" />
  <wsdl:message name="WSOptenerArtHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgHttpGetIn" />
  <wsdl:message name="WSOptenerCatgHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="WSOptenerArtHttpPostIn" />
  <wsdl:message name="WSOptenerArtHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="WSOptenerCatgHttpPostIn" />
  <wsdl:message name="WSOptenerCatgHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="WSsupportCenterClassSoap">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtSoapIn" />
      <wsdl:output message="tns:WSOptenerArtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgSoapIn" />
      <wsdl:output message="tns:WSOptenerCatgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSsupportCenterClassHttpGet">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtHttpGetIn" />
      <wsdl:output message="tns:WSOptenerArtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgHttpGetIn" />
      <wsdl:output message="tns:WSOptenerCatgHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSsupportCenterClassHttpPost">
    <wsdl:operation name="WSOptenerArt">
      <wsdl:input message="tns:WSOptenerArtHttpPostIn" />
      <wsdl:output message="tns:WSOptenerArtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <wsdl:input message="tns:WSOptenerCatgHttpPostIn" />
      <wsdl:output message="tns:WSOptenerCatgHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSsupportCenterClassSoap" type="tns:WSsupportCenterClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSOptenerArt">
      <soap:operation soapAction="http://tempuri.org/WSOptenerArt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <soap:operation soapAction="http://tempuri.org/WSOptenerCatg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassSoap12" type="tns:WSsupportCenterClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSOptenerArt">
      <soap12:operation soapAction="http://tempuri.org/WSOptenerArt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <soap12:operation soapAction="http://tempuri.org/WSOptenerCatg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassHttpGet" type="tns:WSsupportCenterClassHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="WSOptenerArt">
      <http:operation location="/WSOptenerArt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <http:operation location="/WSOptenerCatg" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSsupportCenterClassHttpPost" type="tns:WSsupportCenterClassHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="WSOptenerArt">
      <http:operation location="/WSOptenerArt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSOptenerCatg">
      <http:operation location="/WSOptenerCatg" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSsupportCenterClass">
    <wsdl:port name="WSsupportCenterClassSoap" binding="tns:WSsupportCenterClassSoap">
      <soap:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassSoap12" binding="tns:WSsupportCenterClassSoap12">
      <soap12:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassHttpGet" binding="tns:WSsupportCenterClassHttpGet">
      <http:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="WSsupportCenterClassHttpPost" binding="tns:WSsupportCenterClassHttpPost">
      <http:address location="http://localhost:31525/WSSupportCenter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>